html {
  /* Colors from Google Docs */
  --color-black: rgb(0, 0, 0);
  --color-dark-gray-4: rgb(67, 67, 67);
  --color-dark-gray-3: rgb(102, 102, 102);
  --color-dark-gray-2: rgb(153, 153, 153);
  --color-dark-gray-1: rgb(183, 183, 183);
  --color-gray: rgb(204, 204, 204);
  --color-light-gray-1: rgb(217, 217, 217);
  --color-light-gray-2: rgb(239, 239, 239);
  --color-light-gray-3: rgb(243, 243, 243);
  --color-dark-grey-4: var(--color-dark-gray-4);
  --color-dark-grey-3: var(--color-dark-gray-3);
  --color-dark-grey-2: var(--color-dark-gray-2);
  --color-dark-grey-1: var(--color-dark-gray-1);
  --color-grey: var(--color-gray);
  --color-light-grey-1: var(--color-light-gray-1);
  --color-light-grey-2: var(--color-light-gray-2);
  --color-light-grey-3: var(--color-light-gray-3);
  --color-white: rgb(255, 255, 255);
  --color-red-berry: rgb(152, 0, 0);
  --color-red: rgb(255, 0, 0);
  --color-orange: rgb(255, 153, 0);
  --color-yellow: rgb(255, 255, 0);
  --color-green: rgb(0, 255, 0);
  --color-cyan: rgb(0, 255, 255);
  --color-cornflower-blue: rgb(74, 134, 232);
  --color-blue: rgb(0, 0, 255);
  --color-purple: rgb(153, 0, 255);
  --color-magenta: rgb(255, 0, 255);
  --color-light-red-berry-3: rgb(230, 184, 175);
  --color-light-red-3: rgb(244, 204, 204);
  --color-light-orange-3: rgb(252, 229, 205);
  --color-light-yellow-3: rgb(255, 242, 204);
  --color-light-green-3: rgb(217, 234, 211);
  --color-light-cyan-3: rgb(208, 224, 227);
  --color-light-cornflower-blue-3: rgb(201, 218, 248);
  --color-light-blue-3: rgb(207, 226, 243);
  --color-light-purple-3: rgb(217, 210, 233);
  --color-light-magenta-3: rgb(234, 209, 220);
  --color-light-red-berry-2: rgb(221, 126, 107);
  --color-light-red-2: rgb(234, 153, 153);
  --color-light-orange-2: rgb(249, 203, 156);
  --color-light-yellow-2: rgb(255, 229, 153);
  --color-light-green-2: rgb(182, 215, 168);
  --color-light-cyan-2: rgb(162, 196, 201);
  --color-light-cornflower-blue-2: rgb(164, 194, 244);
  --color-light-blue-2: rgb(159, 197, 232);
  --color-light-purple-2: rgb(180, 167, 214);
  --color-light-magenta-2: rgb(213, 166, 189);
  --color-light-red-berry-1: rgb(204, 65, 37);
  --color-light-red-1: rgb(224, 102, 102);
  --color-light-orange-1: rgb(246, 178, 107);
  --color-light-yellow-1: rgb(255, 217, 102);
  --color-light-green-1: rgb(147, 196, 125);
  --color-light-cyan-1: rgb(118, 165, 175);
  --color-light-cornflower-blue-1: rgb(109, 158, 235);
  --color-light-blue-1: rgb(111, 168, 220);
  --color-light-purple-1: rgb(142, 124, 195);
  --color-light-magenta-1: rgb(194, 123, 160);
  --color-dark-red-berry-1: rgb(166, 28, 0);
  --color-dark-red-1: rgb(204, 0, 0);
  --color-dark-orange-1: rgb(230, 145, 56);
  --color-dark-yellow-1: rgb(241, 194, 50);
  --color-dark-green-1: rgb(106, 168, 79);
  --color-dark-cyan-1: rgb(69, 129, 142);
  --color-dark-cornflower-blue-1: rgb(60, 120, 216);
  --color-dark-blue-1: rgb(61, 133, 198);
  --color-dark-purple-1: rgb(103, 78, 167);
  --color-dark-magenta-1: rgb(166, 77, 121);
  --color-dark-red-berry-2: rgb(133, 32, 12);
  --color-dark-red-2: rgb(153, 0, 0);
  --color-dark-orange-2: rgb(180, 95, 6);
  --color-dark-yellow-2: rgb(191, 144, 0);
  --color-dark-green-2: rgb(56, 118, 29);
  --color-dark-cyan-2: rgb(19, 79, 92);
  --color-dark-cornflower-blue-2: rgb(17, 85, 204);
  --color-dark-blue-2: rgb(11, 83, 148);
  --color-dark-purple-2: rgb(53, 28, 117);
  --color-dark-magenta-2: rgb(116, 27, 71);
  --color-dark-red-berry-3: rgb(91, 15, 0);
  --color-dark-red-3: rgb(102, 0, 0);
  --color-dark-orange-3: rgb(120, 63, 4);
  --color-dark-yellow-3: rgb(127, 96, 0);
  --color-dark-green-3: rgb(39, 78, 19);
  --color-dark-cyan-3: rgb(12, 52, 61);
  --color-dark-cornflower-blue-3: rgb(28, 69, 135);
  --color-dark-blue-3: rgb(7, 55, 99);
  --color-dark-purple-3: rgb(32, 18, 77);
  --color-dark-magenta-3: rgb(76, 17, 48);
}
